<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="text-center">
<h1>Burgers!</h1>

<img src="http://www.burgerking.com.mx/sites/burgerking.com.mx/files/sites/burgerking.com.mx/files/WHOPPER-300x270-PARRILLA_0.png" alt="Good burger img">
</div>


</br>
</br>
</br>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
<h2>Burgers to Eat!!!</h2>

<ol>
  {{#each burgers}}
    {{#unless devoured}} 
      <li>
        {{burger_name}}
      <button class="change-devour" data-id="{{id}}" data-devoured="{{devoured}}">
          Devour it!
        </button>
      </li>

    {{/unless}}
  {{/each}}
</ol>
</div>
  

<div class = "col-sm-6">
<h2>Devoured burgers</h2>

<ol>
  {{#each burgers}}
    {{#if devoured}}
        <li>
        {{burger_name}}
        </li>
    {{/if}}
  {{/each}}
</ol>
</div>
  </div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
    
  </div>

  <button class = "btn btn-danger" type="submit">Add Burger</button>
</form>
</div>