<li>
	{{burger_name}}
	<script>console.log(burger_name + " " +devoured);</script>
	{{#if devoured}}

	<button class="change-devour" data-id="{{id}}" data-devoured="{{devoured}}">
		Devour it!
	</button>
		<script>console.log("burger to devour");</script>
	{{else}} <script>console.log("non devoured burger");</script>{{/if}}

</li>
